{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col-sm-12 my-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for key, artwork in artworks %}
                    <li data-target="#carouselExampleIndicators"
                        data-slide-to="{{ key }}"
                        class="{{ key == 0 ? 'active' : '' }}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for key, artwork in artworks %}
                    <div class="carousel-item {{ key == 0 ? 'active' : '' }}">
                        <a href="{{ url('artwork.show', { id: artwork.id }) }}">
                            <img class="d-block w-100" src="/img/artworks/{{ artwork.picture }}" alt="">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ artwork.name }}</h5>
                                <p>{{ artwork.description | truncate(20, true) }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-sm-12">
        <h1 class="mb-3">{{ site_name }}</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis cum cumque cupiditate, fuga iste
            necessitatibus sit totam ullam voluptates.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda fugiat impedit, minus nisi officia rem
            tempore temporibus ullam voluptate? A accusamus ad doloribus officia quos repellendus reprehenderit tempora
            unde?
        </p>

        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dicta nulla pariatur
            perspiciatis, recusandae
            velit.
        </p>
    </div>
{% endblock %}
