{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        {% include('inc/flash.message.html.twig') %}
    </div>

    <div class="col-sm-12 mt-3">
        <h1 class="mb-3">Ajouter une exposition</h1>

        {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
        <p>
            {{ form_label(form.name, 'Nom:') }}
            {{ form_widget(form.name) }}
        </p>

        <p>
            {{ form_label(form.presentation, "Présentation de l'exposition:") }}
            {{ form_widget(form.presentation) }}
        </p>

        <p>
            {{ form_label(form.date, 'Date:') }}
            {{ form_widget(form.date) }}
        </p>

        <p class="text-right">
            <input class="btn btn-primary" type="submit" value="Valider">
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}