{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col-sm-12 mt-5 mb-3">
        <h1>Liste des expositions à venir</h1>
    </div>

    <div class="col-sm-12 mb-5">
        <div class="accordion" id="accordionExample">
            {% for exhibition in exhibitions %}
                <div class="card-header bg-light" id="{{ "heading-#{exhibition.id}" }}">
                    <div class="card">
                        <h2 class="mb-0">
                            <button class="btn btn-link"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#{{ "collapse-#{exhibition.id}" }}"
                                    aria-expanded="true"
                                    aria-controls="{{ "collapse-#{exhibition.id}" }}">
                                {{ exhibition.name }}
                                -
                                {{ exhibition.date | date('d/m/Y') }}
                            </button>
                        </h2>
                    </div>

                    <div id="{{ "collapse-#{exhibition.id}" }}"
                         class="collapse"
                         aria-labelledby="{{ "heading-#{exhibition.id}" }}"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {{ exhibition.presentation }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
