{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col-sm-12 mt-5 mb-3">
        <h1>Contact</h1>
    </div>


    <div class="col-sm-12">
        <div class="row">
            <div class="d-sm-none d-md-block col-md-5">
                <a class="d-block h-100 w-100" href="{{ url('artwork.show', { 'id': artwork.id }) }}">
                    <img class="h-100 w-100" src="{{ artworks_path }}{{ artwork.picture }}"
                         alt="{{ artwork.name }} artwork picture">
                </a>
            </div>

            <div class="col-sm-12 col-md-7">
                {{ form_start(form, { attr: { novalidate: 'novalidate'  } }) }}
                <p>
                    {{ form_label(form.name, 'Nom: ') }}
                    {{ form_widget(form.name) }}
                </p>

                <p>
                    {{ form_label(form.email, 'Email: ') }}
                    {{ form_widget(form.email) }}
                </p>

                <p>
                    {{ form_label(form.message, 'Message: ') }}
                    {{ form_widget(form.message) }}
                </p>

                <p class="text-right">
                    <input type="submit" value="Valider" class="btn btn-primary">
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}